Dir*
.vscode/
.idea/
__pycache__/
*.pyc
*.npy
*.npz
*.pt
*.pth
*.tar
*track_cache*
*log*
*data*
*remote*
*save*
bigburger/resource/
resource/
xa*
task*
tools/
*ipynb_checkpoints
*ipynb
*sh
*txt
＊list
resource
